.silck-list{
height: 100vh;
}

.css07{
    width: 20rem !important;
    height: 15rem !important;
    object-fit: fill !important;
}

@media only screen and (max-width: 640px){
    .silck-list{
        height: 80vh;
        }
        
  }
  @media only screen and (max-width: 768px){
    .silck-list{
        height: 80vh;
        }
        
}