.slick-C .slick-list{
    width: 45rem !important;
}
.slick-C .slick-list .slick-slide{
    width: 40rem !important;
    margin-right: -275px;
}
.slick-C .slick-list .slick-track{
    width: 19008px !important;
}


.slick-arrow .slick-next {

display: none !important;

}


.slick-prev, .slick-next {

    display: none !important;
}







@media only screen and (max-width: 640px){
    .css01{
        display: flex;
        flex-direction: column;
    
    }
        
  }
  @media only screen and (max-width: 768px){
    .css01{
        display: flex;
        flex-direction: column;
    
    }
}