.silck-list{
height: 100vh;
}
.slick-slide {
    display: flex !important;
    justify-content: center;
    width: auto!important;

}

/* 
.slick-slide {
} */

.css07{
    width: 20rem !important;
    height: 15rem !important;
    object-fit: fill !important;
}

@media only screen and (max-width: 640px){
    .slick-C .slick-list{
     height: 80vh;
        width: 43.5rem !important;
        }

        .css08 {
            width: 100%; /* Ensure the card takes full width on small devices */
            display: flex;
            justify-content: center;
        }
   
  }
  @media only screen and (max-width: 768px){
    .slick-C .slick-list{
        height: 80vh;
           width: 43.5rem !important;
           }
        
     
        .slick-slide {
            float: right!important;
            height: 100% !important;
            min-height: 1px !important;
            width: auto !important;
        }

        .css08 {
            width: 100%; /* Ensure the card takes full width on small devices */
            display: flex;
            justify-content: center;
        }
        
}